include LICENSE.txt
recursive-include aldryn_disqus/locale *
recursive-include aldryn_disqus/templates *
recursive-include aldryn_disqus/migrations *
recursive-include aldryn_disqus/south_migrations *
recursive-exclude * *.pyc
